body{

    background-color: black;

}

@font-face {
    font-family:Itim;
    src: url(./fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

#d1{

    width: fit-content;
    margin: auto;


}
.cabeca{

    color: #ff1493;
    font-family: PermanentMarker, Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-decoration:underline;

}

